.vscode
.idea
node_modules
assets/js/Library
assets/js/Framework/*.js
assets/js/Options/*.js
assets/js/Player/*.js
assets/js/Utils/*.js
assets/js/Player/Models/*.js
CoreServices/*.js
UserControl/scripts/ViewModels/*.js
UserControl/scripts/*.js
Models/*.js
*.js.map
*.lock.json
MediaWiki-Sm2Shim.iml
