.vscode
.idea
node_modules
Framework/*.js
Options/*.js
Player/*.js
Utilities/*.js
Player/Models/*.js
CoreServices/*.js
UserControl/scripts/ViewModels/*.js
UserControl/scripts/*.js
Models/*.js
*.js.map
*.lock.json
MediaWiki-Sm2Shim.iml
Library
bin
assets/swf
assets/css/*.css